@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Georgia";
    src: url("/assets/Georgia.woff") format("woff");
  }

  @font-face {
    font-family: "Elegante";
    src: url("/assets/Elegante.woff") format("woff");
  }
}
